*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--secondary-color);
  font-family: var(--primary-font);
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

form {
  margin: 30px auto 10px;
  text-align: center;
}

.output {
  padding: 15px;
  height: 40px;
  font-size: var(--font-size-reg);
}

.error {
  color: var(--error-color);
}

.progress-bar {
  background: var(--primary-color);
  margin-top: 20px;
  height: 5px;
}

.grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer section {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}
