:root {
  --primary-color: #efb6b2;
  --secondary-color: #4e4e4e;
  --error-color: #ff4a4a;

  --primary-font: "Noto Serif", sans-serif;

  --font-size-h1: 2.6rem;
  --font-size-h2: 1.2rem;
  --font-size-reg: 1rem;

  --font-weight-reg: 400;
  --font-weight-bold: 700;
}
