@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.title h1 {
  color: var(--primary-color);
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-h1);
  text-align: center;
  letter-spacing: 2px;
}

.title h2 {
  font-size: var(--font-size-h2);
}

.title p {
  font-size: var(--font-size-reg);
}

.title h2,
.title p {
  text-align: center;
}
